.header-container {
    width: 100%;
    height: 15vh;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    /* height: 10vh; */
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
}

.site-name {
    color: lightpink;
}



.links-container a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: large;
}

/* media query */

@media only screen and (max-width: 576px) {

    .nav-container {
        display: block;
        background-color: black;
        /* height: 10vh; */
        width: 100%;
        height: 100%;
        margin-right: 0px;
        margin-bottom: 10%;
        padding-top: 20px;
        /* border: 1px solid red; */
    }


}




/* large screen */
@media only screen and (min-width: 768px) {
    .nav-container {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        background-color: black;
        /* height: 10vh; */
        width: 100%;
        height: 100%;
        margin-bottom: 10%;
    }






    .links-container a {
        text-decoration: none;
        color: white;
        margin-left: 10px;
        font-size: large;
    }
}