.showtopics-container {
    width: 100%;
}

.alltopics-container {
    width: 80%;
    margin: 5% 10%;
}

.alltopics-container img {
    width: 100%;
    height: 50vh;
}

.alltopics-container a {
    color: black;
    border: 1px solid pink;
    background-color: white;
}

@media only screen and (max-width: 576px) {
    .alltopics-container {
        width: 80%;
        margin: 5% 10%;
    }

    .alltopics-container img {
        width: 100%;
        height: 40vh;
    }
}

/* large screen */
@media only screen and (min-width: 768px) {

    .alltopics-container {
        width: 80%;
        margin: 5% 10%;
    }

    .alltopics-container img {
        width: 100%;
        height: 50vh;
    }
}